@charset "utf-8";

/* 초기화 */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
}

img {
    vertical-align: top;
    border: 0;
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}


/* fullpage - dot */
body #fp-nav ul li a span {/* custom dot */
    background: url(../images/dots/nomal.png) 0% 0% / 100% 100% no-repeat;
    width: 24px;
    height: 24px;
}

body #fp-nav ul li a.active span {/* active custom dot */
    background: url(../images/dots/active.png) 0% 0% / 100% 100% no-repeat;
    width: 24px;
    height: 24px;
}

.fp-viewing-0 #fp-nav {/* home화면 일 때, dot list 숨기기 */
    display: none;
}

.fp-viewing-7 #fp-nav {/* footer화면 일 때, dot list 숨기기 */
    display: none;
}

#fp-nav ul > li:first-child {/* home dot 숨기기 */
    display: none;
}

#fp-nav ul > li:last-child {/* footer dot 숨기기 */
    display: none;
}



/* header */
header {
    width: 1024px;
    height: 108px;
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out 0.3s;
}

header h3 {
    margin-left: 50px;
    margin-top: 70px;
    float: left;
    width: 142px;
    height: 32px;
}

header h3 img {
    width: 142px;
    height: 32px;
}

header nav {
    float: right;
    margin-right: 50px;
    margin-top: 60px;
}

header nav .appdown {
    float: left;
    display: none;
    width: 140px;
    height: 48px;
}

header nav .appdown img {
    width: 100%;
}

header nav ul.gnb {
    margin-right: 122px;
}

header nav ul.gnb > li {
    float: left;
    margin: 7px 10px;
}

header nav ul.gnb > li:nth-child(1) {
    margin-top: 0;
    margin-right: 26px;
}

header nav ul.gnb > li:nth-child(2) {
    margin-right: 2px;
}

header nav ul.gnb > li > a {
    display: block;
}



/* rider */
.rider {
    position: fixed;
    right: 0;
    top: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
    z-index: 10;
    width: 173px;
    height: 226px;
}

.rider img {
    width: 100%;
}


/* scroll */
.scroll {
    position: fixed;
    z-index: 10;
    bottom: 30px;
    left: 48%;
    transform: translateX(-50%);
    animation: 0.5s ease 0s 3 normal forwards running bounce;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
    }

    40% {
    transform: translateY(-30px);
    }

    60% {
    transform: translateY(-15px);
    }
}

/* fullpage - all section */
.section article {
    width: 100%;
    max-width: 1024px;
    height: 100%;
    left: 50%;
    top: 168px;
    transform: translateX(-50%);
    position: absolute;
}

.section article .title {
    width: 50%;
    margin: 0 50px;
}

.section article .title img {
    width: 90%;
}


/* fullpage - home */
@keyframes zoom-in {
    0% {
        transform: scale(1.5, 1.5);
    }
    50% {
        transform: scale(1.25, 1.25);
    }
    100% {
        transform: scale(1, 1);
    }
}

.home-bg {
    background-image: url(../images/section1/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    inset: 0px;
    animation: 1s linear 0s 1 normal forwards running zoom-in;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home article .down {
    color: #fff;
    margin: 0 50px;
    margin-top: 40px;
}

.home article .down .txt {
    font-size: 16px;
    font-weight: 800;
    line-height: 1.38;
    margin-bottom: 14px;
}

.home article .down .app {
    float: left;
}

.home article .down .app ul > li {
    float: left;
    width: 200px;
    height: 70px;
    background-color: #fff;
    margin-right: 12px;
    border-radius: 100px;
    position: relative;
}

.home article .down .app ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

.home article .down .app ul > li > a img {
    width: 140px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.home article .down .qr {
    float: right;
    width: 195px;
}

.home article .down .qr img {
    width: 100%;
}

.home article .mobile-down {
    width: 410px;
    position: absolute;
    right: 40px;
    top: 550px;
    display: none;
}

.home article .mobile-down img {
    width: 100%;
}

.home article .mobile-down a {
    position: absolute;
    left: 12.3%;
    top: 8%;
    width: 310px;
    height: 100px;
    text-indent: -99999px;
}

/* fullpage - section1 */
.section1 article .txt {
    color: #fff;
    margin: 20px 50px;
}

.section1 article .txt span {
    opacity: 0.7;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.section1 article .tire {
    width: 700px;
    position: absolute;
    right: -20%;
    bottom: 24%;
}

.section1 article .tire img {
    width: 100%;
}

.section1 article .bike {
    width: 635px;
    position: absolute;
    right: -7%;
    bottom: 35%;
}

.section1 article .bike img {
    width: 100%;
}

@keyframes bike {
    0% {
        right: -7%;
        bottom: 35%;
    }
    100% {
        right: -14%;
        bottom: 26%;
    }
}


/* fullpage - section2 */
.section2 article .txt {
    color: #fff;
    margin: 20px 50px;
}

.section2 article .txt span {
    opacity: 0.7;
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.section2 article .txt span:last-child {
    margin-top: 0;
}

.section2 article .people {
    width: 62%;
    position: absolute;
    right: 4%;
    opacity: 0;
}

.section2 article .people img {
    width: 100%;
}

@keyframes up {
    0% {
        bottom: -20%;
    }
    100% {
        bottom: 17.5%;
        opacity: 1;
    }
}


/* fullpage - section3 */
.section3 article .txt {
    color: #fff;
    margin: 10px 50px;
    position: relative;
}

.section3 article .txt a {
    position: absolute;
    left: -5px;
    top: 70px;
}

.section3 article .present {
    width: 62%;
    position: absolute;
    right: 0;
    opacity: 0;
}

.section3 article .present img {
    width: 100%;
}


/* fullpage - section4 */
.section4 article .txt {
    color: #fff;
    margin: 20px 50px;
}

.section4 article .shopping {
    width: 62%;
    position: absolute;
    right: 0;
    opacity: 0;
}

.section4 article .shopping img {
    width: 100%;
}


/* fullpage - section5 */
.section5 article .txt {
    color: #fff;
    margin: 15px 50px;
}

.section5 article .txt span {
    opacity: 0.7;
    font-size: 14px;
    display: block;
}

.section5 article .rider2 {
    width: 62%;
    position: absolute;
    right: -40%;
    bottom: 32%;
    opacity: 0;
}

.section5 article .rider2 img {
    width: 100%;
}

@keyframes left {
    0% {
        bottom: 32%;
    }
    100% {
        right: 3%;
        bottom: 32%;
        opacity: 1;
    }
}


/* fullpage - section6 */
.section6 article .txt {
    color: #fff;
    margin: 15px 50px;
}

.section6 article .flag {
    width: 62%;
    position: absolute;
    right: 0;
    opacity: 0;
}

.section6 article .flag img {
    width: 100%;
}


/* fullpage - footer */
.footer article {
    width: 100%;
    max-width: 1064px;
    height: 100%;
    left: 50%;
    top: 135px;
    transform: translateX(-50%);
    position: absolute;
}

.footer article ul.fnb {
    width: 300px;
    height: 80px;
    display: inline-block;
    margin-left: 50px;
}

.footer article ul.fnb > li {
    width: 140px;
    height: 24px;
    margin-bottom: 17px;
    float: left;
}

.footer article ul.fnb > li > a {
    width: 100%;
    height: 100%;
}

.footer article ul.fnb > li > a img {
    width: auto;
    height: 100%;
}

.footer article ul.footer_sns {
    position: absolute;
    width: 100%;
    left: -1.5%;
    top: 13%;
    margin-left: 50px;
}

.footer article ul.footer_sns > li {
    float: left;
    width: 40px;
    margin-right: 30px;
}

.footer article ul.footer_sns > li:nth-child(2) {
    margin-right: 35px;
}
.footer article ul.footer_sns > li:nth-child(3) {
    margin-right: 35px;
}

.footer article ul.footer_sns > li > a img {
    width: 40px;
}

.footer article .title {
    width: 193px;
    float: right;
    margin-right: 300px;
}

.footer article .title img {
    width: 100%;
}

.footer article a.footer-down {
    display: block;
    position: absolute;
    right: 350px;
    top: 260px;
}

.footer article .info {
    position: absolute;
    left: 0;
    bottom: 15%;
    font-size: 14px;
    margin-left: 50px;
}

.footer article .info p {
    margin-bottom: 25px;
}

.footer article .info p span {
    line-height: 1.5;
}

.footer article .info p a {
    background: url(../images/footer/line.png) center bottom / 100% 3px no-repeat;
}



/* 반응형 */

@media screen and (max-width:1024px) {

    /* header */
    header {
        width: 100%;
    }

    header nav {
        margin-right: 0px;
    }

    header nav ul.gnb > li:last-child {
        margin-right: 0;
    }

    /* rider */
    .rider {
        width: 109px;
        height: 142px;
    }

    /* all section */
    .section article .title {
        width: 45%;
        margin: 0 60px;
        margin-top: 10px;
    }

    .section article .title img {
        width: 88%;
    }

    .section article .txt {
        font-size: 14px;
        margin: 30px 60px;
    }

    /* fullpage - home */
    .home article .down {
        display: none;
    }

    .home article .mobile-down {
        display: block;
    }

    /* fullpage - section1 */
    .section1 article .tire {
        width: 57%;
        right: 0;
        bottom: 22%;
    }

    .section1 article .bike {
        width: 57%;
        right: 8%;
        bottom: 29%;
    }

    @keyframes bike {
        0% {
            right: 8%;
            bottom: 29%;
        }
        100% {
            right: -1%;
            bottom: 20%;
        }
    }

    /* fullpage - section2 ~ section6 */
    .section article .people,
    .section article .present,
    .section article .shopping,
    .section article .rider2,
    .section article .flag {
        width: 57%;
    }

    /* fullpage - footer */
    .footer article .title {
        width: 193px;
        margin-right: 255px;
        margin-top: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .footer article .title img {
        width: 100%;
    }

    .footer article a.footer-down {
        right: 305px;
    }
}

@media screen and (max-width:767px) {
    /* header */
    header h3 {
        margin-top: 40px;
    }

    header nav {
        margin-top: 25px;
        width: 140px;
        margin-right: 50px;
    }

    header nav ul.gnb > li {
        display: none;
    }

    header nav ul.gnb > li.appdown {
        margin-right: 0;
    }

    /* scroll */
    .scroll {
        left: 7%;
    }

    /* all section */
    .section article .title {
        width: 86%;
        margin: 0 40px;
        margin-top: 30px;
    }

    .section article .title img {
        width: 88%;
    }

    .section article .txt {
        font-size: 14px;
        margin: 30px 40px;
    }

    /* fullpage - home */
    .home article .mobile-down {
        left: 50%;
        transform: translateX(-50%);
        top: 620px;
        width: 286px;
        height: 70px;
    }

    .home article .mobile-down a {
        left: 12.3%;
        top: 15%;
        width: 216px;
        height: 70px;
    }

    /* fullpage - section1 */
    .section1 article .tire {
        width: 95%;
        left: 25%;
        bottom: 25%;
        z-index: -1;
    }

    .section1 article .bike {
        width: 95%;
        right: -5%;
        bottom: 31%;
    }

    @keyframes bike {
        0% {
            right: -5%;
            bottom: 31%;
        }
        100% {
            right: -21%;
            bottom: 20%;
        }
    }
    
    /* fullpage - section2 ~ section6 ( section5 = x ) */
    .section article .people,
    .section article .present,
    .section article .shopping,
    .section article .flag {
        width: 95%;
        right: -5%;
    }

    /* fullpage - scetion5 */
    .section article .rider2 {
        width: 95%;
        right: -40%;
        bottom: 25%;
    }

    @keyframes left {
        0% {
            bottom: 25%;
        }
        100% {
            right: -14%;
            bottom: 25%;
            opacity: 1;
        }
    }

    /* fullpage - footer */
    .footer article {
        top: 10px;
    }

    .footer article .title {
        position: absolute;
        left: 0;
        top: 0;
        width: 150px;
        height: 172px;
        margin-left: 25px;
        margin-top: 15px;
    }

    .footer article .title img {
        width: 100%;
    }

    .footer article a.footer-down {
        right: 25px;
        top: 15px;
    }

    .footer article ul.fnb {
        margin-top: 250px;
        margin-left: 25px;
    }

    .footer article ul.footer_sns {
        margin-top: 220px;
        margin-left: 25px;
    }

    .footer article .info {
        bottom: 2%;
        margin-left: 25px;
    }

    .footer article .info p {
        margin-bottom: 12px;
    }

    .footer article ul.footer_sns > li {
        width: 36px;
    }

    .footer article ul.footer_sns > li > a img {
        width: 36px;
    }

}